
* {
  font-size: 25px;
  font-family:"Open Sans Condensed, sans-serif";
  margin-top: 0mm;

}


.container{
  text-align: center;
  font-family:"Open Sans Condensed, sans-serif";
  background-attachment: fixed;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: end;
}


.background, html, body{
    background-image: url('./images/homemed.png');
    height: 100%; 
    font-weight: bolder;
}

p{
  margin-left: 38px;
  font-size: 35px;
}

.cards {
  margin-left: 20px;
  margin-right: 20px;
 padding-top:25px;
}
.jumbotron {
  text-align: center;
}

h1{
  text-align: center;
}

.typescript{
  text-align: center;
  
}
span{
  font-size: 40px;
}