
* {
  font-size: 25px;
  font-family:"Open Sans Condensed, sans-serif";
  margin-top: 0mm;

}


.container{
  text-align: center;
  font-family:"Open Sans Condensed, sans-serif";
  background-attachment: fixed;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: end;
}


.background, html, body{
    background-image: url('./images/homemed.png');
    height: 100%; 
    font-weight: bolder;
}

p{
  margin-left: 38px;
  font-size: 35px;
}
.d-block {
width: 250;
height: 400;
}
.cards {
  margin-left: 20px;
  margin-right: 20px;
 padding-top:25px;
}
.jumbotron {
  text-align: center;
}

h1{
  text-align: center;
}
h2{
font-size: 20px;

font-family:"Open Sans Condensed, sans-serif";
}
h3 {
text-align: center;
border: black;
font-size: 20px;
padding-top: 15px;
font-family:"Open Sans Condensed, sans-serif";

}
h4{
  color: white;
  font-size: 20px;
}

.typescript{
  text-align: center;
  margin-top: 30px;
  text-align: center;
  
  
}
span{
  font-size: 35px;
  
}

.wrapper {
  padding-top: 50px;
  /* background:dimgrey; */
  /* background-color:black; */
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
.works{
  margin-top: 50px;
}
.navbar {
  background-color:black;
  color: white
};


/* bg{
   background-color: dimgray;
} */